<div id="<%= dom_id bookappiontment %>">
  <p>
    <strong>Bookid:</strong>
    <%= bookappiontment.Bookid %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= bookappiontment.FirstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= bookappiontment.LastName %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= bookappiontment.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= bookappiontment.Email %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= bookappiontment.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= bookappiontment.end_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bookappiontment.user_id %>
  </p>

</div>
