
<%= simple_form_for(@bookappiontment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :Bookid %>
    <%= f.input :FirstName %>
    <%= f.input :LastName %>
    <%= f.input :telephone %>
    <%= f.input :Email %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
