<p style="color: green"><%= notice %></p>

<%= render @bookappiontment %>

<div>
  <%= link_to "Edit this book appointments", edit_bookappiontment_path(@bookappiontment) %> |
  <%= link_to "Doctor View All Apointments", bookappiontments_path %>

  <%= button_to "Destroy this book appointment", @bookappiontment, method: :delete %>
</div>
<div class="container">


<center>
<p> This appointment was assigned a specialist doctor at the specify time show above<br>
please if you wish not to aattend this appointment <br>
kindly kindly cancelled 24hour to the sceduled time</p>


</center>
