<div id="<%= dom_id book_appointment %>">
  <p>
    <strong>Bookid:</strong>
    <%= book_appointment.bookid %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= book_appointment.FirstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= book_appointment.LastName %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= book_appointment.telephon %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= book_appointment.Email %>
  </p>


  <p>
    <strong>Start time:</strong>
    <%= book_appointment.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= book_appointment.end_time %>
  </p>



</div>
