<p style="color: green"><%= notice %></p>

<%= render @book_appointment %>

<div>
  <%= link_to "Edit this book appointment", edit_book_appointment_path(@book_appointment) %> |
  <%= link_to "Back to book appointments", book_appointments_path %>

  <%= button_to "Destroy this book appointment", @book_appointment, method: :delete %>
</div>
